<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title>Reaction Populous - Galveston Zeta Deployment</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="assets/plugins/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
	<link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="assets/css/style-metro.css" rel="stylesheet" type="text/css"/>
	<link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
	<link href="assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
	<link href="assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
	<!-- BEGIN LEAFLET.CSS --> 
	<link href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" rel="stylesheet" type="text/css" media="screen"/>
	<link href="stylesheets/MarkerCluster.css" rel="stylesheet" type="text/css" media="screen"/>
	<link href="stylesheets/MarkerCluster.Default.css" rel="stylesheet" type="text/css" media="screen"/>
	<!-- END LEAFLET.CSS -->
	<!-- BEGIN PAGE LEVEL STYLES -->
	<link rel="stylesheet" type="text/css" href="assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.css"/>
	<link href="assets/plugins/bootstrap-modal/css/bootstrap-modal.css" rel="stylesheet" type="text/css"/>
	<link href="assets/css/pages/coming-soon.css" rel="stylesheet" type="text/css"/>
	<!-- END PAGE LEVEL STYLES -->	
	<!-- END GLOBAL MANDATORY STYLES -->
	<link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
	<!-- BEGIN HEADER -->
	<div class="header navbar navbar-inverse navbar-fixed-top">
		<!-- BEGIN TOP NAVIGATION BAR -->
		<div class="navbar-inner">
			<div class="container-fluid">
				<!-- BEGIN LOGO -->
				<a class="brand" href="/">
					<img src="images/reaction_logo.png" alt="logo"/>
				</a>
				<!-- END LOGO -->
				<!-- BEGIN RESPONSIVE MENU TOGGLER -->
				<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
				<img src="assets/img/menu-toggler.png" alt="" />
				</a>          
				<!-- END RESPONSIVE MENU TOGGLER -->            
				<!-- BEGIN TOP NAVIGATION MENU -->              
				<ul class="nav pull-right">
					<!-- BEGIN NOTIFICATION DROPDOWN -->   
					<li class="dropdown" id="header_notification_bar">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-warning-sign"></i>
						<span class="badge">6</span>
						</a>
						<ul class="dropdown-menu extended notification">
							<li>
								<p>You have 14 new notifications</p>
							</li>
							<li>
								<a href="#">
								<span class="label label-success"><i class="icon-plus"></i></span>
								New user registered. 
								<span class="time">Just now</span>
								</a>
							</li>
							<li>
								<a href="#">
								<span class="label label-important"><i class="icon-bolt"></i></span>
								Server #12 overloaded. 
								<span class="time">15 mins</span>
								</a>
							</li>
							<li>
								<a href="#">
								<span class="label label-warning"><i class="icon-bell"></i></span>
								Server #2 not respoding.
								<span class="time">22 mins</span>
								</a>
							</li>
							<li>
								<a href="#">
								<span class="label label-info"><i class="icon-bullhorn"></i></span>
								Application error.
								<span class="time">40 mins</span>
								</a>
							</li>
							<li>
								<a href="#">
								<span class="label label-important"><i class="icon-bolt"></i></span>
								Database overloaded 68%. 
								<span class="time">2 hrs</span>
								</a>
							</li>
							<li>
								<a href="#">
								<span class="label label-important"><i class="icon-bolt"></i></span>
								2 user IP blocked.
								<span class="time">5 hrs</span>
								</a>
							</li>
							<li class="external">
								<a href="#">See all notifications <i class="m-icon-swapright"></i></a>
							</li>
						</ul>
					</li>
					<!-- END NOTIFICATION DROPDOWN -->
					<!-- BEGIN INBOX DROPDOWN -->
					<li class="dropdown" id="header_inbox_bar">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-envelope"></i>
						<span class="badge">5</span>
						</a>
						<ul class="dropdown-menu extended inbox">
							<li>
								<p>You have 12 new messages</p>
							</li>
							<li>
								<a href="inbox.html?a=view">
								<span class="photo"><img src="./assets/img/avatar2.jpg" alt="" /></span>
								<span class="subject">
								<span class="from">Lisa Wong</span>
								<span class="time">Just Now</span>
								</span>
								<span class="message">
								Vivamus sed auctor nibh congue nibh. auctor nibh
								auctor nibh...
								</span>  
								</a>
							</li>
							<li>
								<a href="inbox.html?a=view">
								<span class="photo"><img src="./assets/img/avatar3.jpg" alt="" /></span>
								<span class="subject">
								<span class="from">Richard Doe</span>
								<span class="time">16 mins</span>
								</span>
								<span class="message">
								Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh
								auctor nibh...
								</span>  
								</a>
							</li>
							<li>
								<a href="inbox.html?a=view">
								<span class="photo"><img src="./assets/img/avatar1.jpg" alt="" /></span>
								<span class="subject">
								<span class="from">Michael McDaniel</span>
								<span class="time">2 hrs</span>
								</span>
								<span class="message">
								Vivamus sed nibh auctor nibh congue nibh. auctor nibh
								auctor nibh...
								</span>  
								</a>
							</li>
							<li class="external">
								<a href="inbox.html">See all messages <i class="m-icon-swapright"></i></a>
							</li>
						</ul>
					</li>
					<!-- END INBOX DROPDOWN -->
					<!-- BEGIN TODO DROPDOWN -->
					<li class="dropdown" id="header_task_bar">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="icon-tasks"></i>
						<span class="badge">5</span>
						</a>
						<ul class="dropdown-menu extended tasks">
							<li>
								<p>You have 12 pending tasks</p>
							</li>
							<li>
								<a href="#">
								<span class="task">
								<span class="desc">New release v1.2</span>
								<span class="percent">30%</span>
								</span>
								<span class="progress progress-success ">
								<span style="width: 30%;" class="bar"></span>
								</span>
								</a>
							</li>
							<li>
								<a href="#">
								<span class="task">
								<span class="desc">Application deployment</span>
								<span class="percent">65%</span>
								</span>
								<span class="progress progress-danger progress-striped active">
								<span style="width: 65%;" class="bar"></span>
								</span>
								</a>
							</li>
							<li>
								<a href="#">
								<span class="task">
								<span class="desc">Mobile app release</span>
								<span class="percent">98%</span>
								</span>
								<span class="progress progress-success">
								<span style="width: 98%;" class="bar"></span>
								</span>
								</a>
							</li>
							<li>
								<a href="#">
								<span class="task">
								<span class="desc">Database migration</span>
								<span class="percent">10%</span>
								</span>
								<span class="progress progress-warning progress-striped">
								<span style="width: 10%;" class="bar"></span>
								</span>
								</a>
							</li>
							<li>
								<a href="#">
								<span class="task">
								<span class="desc">Web server upgrade</span>
								<span class="percent">58%</span>
								</span>
								<span class="progress progress-info">
								<span style="width: 58%;" class="bar"></span>
								</span>
								</a>
							</li>
							<li>
								<a href="#">
								<span class="task">
								<span class="desc">Mobile development</span>
								<span class="percent">85%</span>
								</span>
								<span class="progress progress-success">
								<span style="width: 85%;" class="bar"></span>
								</span>
								</a>
							</li>
							<li class="external">
								<a href="#">See all tasks <i class="m-icon-swapright"></i></a>
							</li>
						</ul>
					</li>
					<!-- END TODO DROPDOWN -->
					<!-- BEGIN USER LOGIN DROPDOWN -->
					<li class="dropdown user">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<img alt="" src="/images/avatar_small_MM.png" />
						<span class="username">Michael McDaniel</span>
						<i class="icon-angle-down"></i>
						</a>
						<ul class="dropdown-menu">
							<li><a href="extra_profile.html"><i class="icon-user"></i> My Profile</a></li>
							<li><a href="page_calendar.html"><i class="icon-calendar"></i> My Calendar</a></li>
							<li><a href="inbox.html"><i class="icon-envelope"></i> My Inbox(3)</a></li>
							<li><a href="#"><i class="icon-tasks"></i> My Tasks</a></li>
							<li class="divider"></li>
							<li><a href="extra_lock.html"><i class="icon-lock"></i> Lock Screen</a></li>
							<li><a href="login.html"><i class="icon-key"></i> Log Out</a></li>
						</ul>
					</li>
					<!-- END USER LOGIN DROPDOWN -->
				</ul>
				<!-- END TOP NAVIGATION MENU --> 
			</div>
		</div>
		<!-- END TOP NAVIGATION BAR -->
	</div>
	<!-- END HEADER -->
	<!-- BEGIN CONTAINER -->   
	<div class="page-container row-fluid">
		<!-- BEGIN SIDEBAR -->
		<div class="page-sidebar nav-collapse collapse">
			<!-- BEGIN SIDEBAR MENU -->        
			<ul class="page-sidebar-menu">
				<li>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
					<div class="sidebar-toggler hidden-phone"></div>
					<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				</li>
				<li>
					<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
					<form class="sidebar-search">
						<div class="input-box">
							<a href="javascript:;" class="remove"></a>
							<input type="text" placeholder="Search..." />
							<input type="button" class="submit" value=" " />
						</div>
					</form>
					<!-- END RESPONSIVE QUICK SEARCH FORM -->
				</li>
				<li class="start">
					<a href="/">
					<i class="icon-home"></i> 
					<span class="title">Dashboard</span>
					<span class="selected"></span>
					</a>
				</li>
				<li class="">
					<a href="javascript:;">
					<i class="icon-cogs"></i> 
					<span class="title">Storage Facilities</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
					</ul>
				</li>
				<li class="">
					<a href="javascript:;">
					<i class="icon-bookmark-empty"></i> 
					<span class="title">In Transit</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
					</ul>
				</li>
				<li class="active">
					<a href="javascript:;">
					<i class="icon-table"></i> 
					<span class="title">Deployments</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
						<li >
							<a href="/deployment">
							Galveston Sigma</a>
						</li>
						<li >
							<a href="/deployment">
							Galveston Theta</a>
						</li>
						<li class="active">
							<a href="/deployment">
							Galveston Zeta</a>
						</li>
						<li >
							<a href="/deployment">
							Hoboken Alpha</a>
						</li>
						<li >
							<a href="/deployment">
							Hoboken Beta</a>
						</li>
					</ul>
				</li>
				<li class="">
					<a href="javascript:;">
					<i class="icon-briefcase"></i> 
					<span class="title">Guest Management</span>
					<span class="arrow "></span>
					</a>
					<ul class="sub-menu">
					</ul>
				</li>	
			</ul>
			<!-- END SIDEBAR MENU -->
		</div>
		<!-- END SIDEBAR -->
		<!-- BEGIN PAGE -->
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div id="portlet-config" class="modal hide">
				<div class="modal-header">
					<button data-dismiss="modal" class="close" type="button"></button>
					<h3>portlet Settings</h3>
				</div>
				<div class="modal-body">
					<p>Here will be a configuration form</p>
				</div>
			</div>
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE CONTAINER-->
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12">
						<!-- BEGIN STYLE CUSTOMIZER -->
						<div class="color-panel hidden-phone">
							<div class="color-mode-icons icon-color"></div>
							<div class="color-mode-icons icon-color-close"></div>
							<div class="color-mode">
								<p>THEME COLOR</p>
								<ul class="inline">
									<li class="color-black current color-default" data-style="default"></li>
									<li class="color-blue" data-style="blue"></li>
									<li class="color-brown" data-style="brown"></li>
									<li class="color-purple" data-style="purple"></li>
									<li class="color-grey" data-style="grey"></li>
									<li class="color-white color-light" data-style="light"></li>
								</ul>
								<label>
									<span>Layout</span>
									<select class="layout-option m-wrap small">
										<option value="fluid" selected>Fluid</option>
										<option value="boxed">Boxed</option>
									</select>
								</label>
								<label>
									<span>Header</span>
									<select class="header-option m-wrap small">
										<option value="fixed" selected>Fixed</option>
										<option value="default">Default</option>
									</select>
								</label>
								<label>
									<span>Sidebar</span>
									<select class="sidebar-option m-wrap small">
										<option value="fixed">Fixed</option>
										<option value="default" selected>Default</option>
									</select>
								</label>
								<label>
									<span>Footer</span>
									<select class="footer-option m-wrap small">
										<option value="fixed">Fixed</option>
										<option value="default" selected>Default</option>
									</select>
								</label>
							</div>
						</div>
						<!-- END BEGIN STYLE CUSTOMIZER -->    
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->
						<h3 class="page-title">
							Galveston Zeta <small>Deployment</small>
						</h3>
						<ul class="breadcrumb">
							<li>
								<i class="icon-home"></i>
								<a href="/">Home</a> 
								<i class="icon-angle-right"></i>
							</li>
							<li>
								<a href="#">Deployments</a>
								<i class="icon-angle-right"></i>
							</li>
							<li><a href="#">Galveston Zeta</a></li>
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->

					<div class="row-fluid">
						<div class="span12">

							<!-- BEGIN PORTLET-->
							<div class="portlet">
								<div class="portlet-title">
									<div class="caption"><i class="icon-globe"></i>Deployment Site</div>
									<div class="tools">
										<a href="" class="collapse"></a>
										<a href="#portlet-config" data-toggle="modal" class="config"></a>
										<a href="" class="reload"></a>
										<a href="" class="remove"></a>
									</div>
								</div>
								<div class="portlet-body">
									<div id="region_statistics_loading">
										
									</div>
									<div id="region_statistics_content">
										
										<div class="row-fluid">
											<div class="span6 responsive" data-tablet="span6" data-desktop="span6">

											<!-- <div class="dashboard-stat yellow">
													<div class="visual">
														<i class="icon-bar-chart"></i>
													</div>
													<div class="details">
														<div class="number">12,5M$</div>
														<div class="desc">Total Profit</div>
													</div>
													<a class="more" href="#">
													View more <i class="m-icon-swapright m-icon-white"></i>
													</a>                 
												</div> -->

												<!-- <div id="deploy-map"></div> -->

											</div>
											<div class="span6" >

												<h4>Deployment Duration</h4>
												<div id="defaultCountdown"></div>

												<h4>Energy Consumption</h4>'

												<div id="load_statistics" style="height:108px;"></div>

												<!-- <div class="row-fluid">
														<div class="span3 responsive" data-tablet="span3 fix-margin" data-desktop="span3">
															<div class="circle-stat block">
																<div class="visual">
																	<input class="knobify" data-width="115" data-fgcolor="#ffb848" data-thickness=".2" data-skin="tron" data-displayprevious="true" value="-12" data-max="100" data-min="-100" />
																</div>
																<div class="details">
																	<div class="title">Downtime <i class="icon-caret-down down"></i></div>
																	<div class="number">0.01%</div>

																</div>
															</div>
														</div>

														<div class="span3 responsive" data-tablet="span3 fix-margin" data-desktop="span3">
															<div class="circle-stat block">
																<div class="visual">
																	<input class="knobify" data-width="115" data-fgcolor="#ffb848" data-thickness=".2" data-skin="tron" data-displayprevious="true" value="-12" data-max="100" data-min="-100" />
																</div>
																<div class="details">
																	<div class="title">Downtime <i class="icon-caret-down down"></i></div>
																	<div class="number">0.01%</div>
																</div>
															</div>
														</div>
													</div> -->

													<!-- <div class="row-fluid">
														<div class="span4 responsive" data-tablet="span4 fix-margin" data-desktop="span4">
															<input class="knob" data-angleOffset=-125 data-angleArc=250 data-fgColor="#66EE66" value="35">
															<input class="knob" data-angleOffset=-125 data-angleArc=250 data-fgColor="#66EE66" value="35">
														</div>
														<div class="span6 responsive" data-tablet="span6 fix-margin" data-desktop="span6">
															<div class="row-fluid">
																test

															</div>
														</div>
													</div> -->


												<!-- <div class="row-fluid">
													<div class="span4">
														<h4>Disable display input</h4>
														<input class="knob" data-width="100" data-displayInput=false value="35">
													</div>
													<div class="span4">
														<h4>Disable display input</h4>
														<input class="knob" data-width="100" data-displayInput=false value="35">
													</div>
													<div class="span4">
														<h4>Disable display input</h4>
														<input class="knob" data-width="100" data-displayInput=false value="35">
													</div>
												</div>
												<div class="row-fluid">
													<div class="span4">
														<h4>Disable display input</h4>
														<input class="knob" data-width="100" data-displayInput=false value="35">
													</div>
													<div class="span4">
														<h4>Disable display input</h4>
														<input class="knob" data-width="100" data-displayInput=false value="35">
													</div>
													<div class="span4">
														<h4>Disable display input</h4>
														<input class="knob" data-width="100" data-displayInput=false value="35">
													</div>
												</div> -->



											</div>
										</div>
										
									</div>
								</div>
							</div>
							<!-- END PORTLET-->

						</div>
					</div>

					<div class="row-fluid">
						<div class="span12">
							
							<!-- BEGIN PORTLET-->
							<div class="portlet">
								<div class="portlet-title">
									<div class="caption"><i class="icon-globe"></i>Deployment Status</div>
									<div class="tools">
										<a href="" class="collapse"></a>
										<a href="#portlet-config" data-toggle="modal" class="config"></a>
										<a href="" class="reload"></a>
										<a href="" class="remove"></a>
									</div>
								</div>
								<div id="exo-grid" class="portlet-body">
									<div id="region_statistics_loading">
										
									</div>
									<div id="region_statistics_content">
										<div class="row-fluid">
											<div class="span6 responsive" data-tablet="span6" data-desktop="span6">
												<div id="000001" class="dashboard-stat grey">
													<div class="visual">
														<i class="icon-bar-chart"></i>
													</div>
													<div class="details">
														<div class="number">Exo 000001</div>
														<div class="desc">72F \ 39% \ 2 Guests</div>
													</div>
													<a class="more" data-toggle="modal" href="#responsive">
														View more <i class="m-icon-swapright m-icon-white"></i>
													</a>                 
												</div>
											</div>
											<div class="span6 responsive" data-tablet="span6" data-desktop="span6">
												<div id="000002" class="dashboard-stat grey">
													<div class="visual">
														<i class="icon-bar-chart"></i>
													</div>
													<div class="details">
														<div class="number">Exo 000002</div>
														<div class="desc">72F \ 39% \ 2 Guests</div>
													</div>
													<a class="more" data-toggle="modal" href="#responsive">
														View more <i class="m-icon-swapright m-icon-white"></i>
													</a>                
												</div>
											</div>
										</div>
										<div class="row-fluid">
											<div class="span6 responsive" data-tablet="span6" data-desktop="span6">
												<div id="000003" class="dashboard-stat grey">
													<div class="visual">
														<i class="icon-bar-chart"></i>
													</div>
													<div class="details">
														<div class="number">Exo 000003</div>
														<div class="desc">72F \ 39% \ 2 Guests</div>
													</div>
													<a class="more" data-toggle="modal" href="#responsive">
														View more <i class="m-icon-swapright m-icon-white"></i>
													</a>                 
												</div>
											</div>
											<div class="span6 responsive" data-tablet="span6" data-desktop="span6">
												<div id="000004" class="dashboard-stat grey">
													<div class="visual">
														<i class="icon-bar-chart"></i>
													</div>
													<div class="details">
														<div class="number">Exo 000004</div>
														<div class="desc">72F \ 39% \ 2 Guests</div>
													</div>
													<a class="more" data-toggle="modal" href="#responsive">
														View more <i class="m-icon-swapright m-icon-white"></i>
													</a>                
												</div>
											</div>

										</div>


									</div>

								</div>
							</div>
							<!-- END PORTLET-->

						</div>
					</div>

				<!-- END PAGE CONTENT-->
			</div>
			<!-- END PAGE CONTAINER--> 
		</div>
		<!-- END PAGE -->
	</div>
	<!-- BEGIN FOOTER -->
	<div class="footer">
		<div class="footer-inner">
			2013 &copy; Reaction Populous
		</div>
		<div class="footer-tools">
			<span class="go-top">
			<i class="icon-angle-up"></i>
			</span>
		</div>
	</div>
	<!-- END FOOTER -->


								<div id="responsive" class="modal hide fade" tabindex="-1" data-width="760">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
										<h3>Exo Details</h3>
									</div>


<!-- 									<div class="modal-body">
										<div class="row-fluid">
											<div class="span6">
												<h4>Some Input</h4>
												<p><input type="text" class="span12 m-wrap"></p>
												<p><input type="text" class="span12 m-wrap"></p>
												<p><input type="text" class="span12 m-wrap"></p>
												<p><input type="text" class="span12 m-wrap"></p>
												<p><input type="text" class="span12 m-wrap"></p>
												<p><input type="text" class="span12 m-wrap"></p>
												<p><input type="text" class="span12 m-wrap"></p>
											</div>
											<div class="span6">
												<h4>Some More Input</h4>
												<p><input type="text" class="span12 m-wrap"></p>
												<p><input type="text" class="span12 m-wrap"></p>
												<p><input type="text" class="span12 m-wrap"></p>
												<p><input type="text" class="span12 m-wrap"></p>
												<p><input type="text" class="span12 m-wrap"></p>
												<p><input type="text" class="span12 m-wrap"></p>
												<p><input type="text" class="span12 m-wrap"></p>
											</div>
										</div>
									</div> -->



<!-- 								<table class="table table-striped table-bordered table-advance table-hover">
									<thead>
										<tr>
											<th><i class="icon-briefcase"></i> Company</th>
											<th class="hidden-phone"><i class="icon-user"></i> Contact</th>
											<th><i class="icon-shopping-cart"></i> Total</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="highlight">
												<div class="success"></div>
												<a href="#">RedBull</a>
											</td>
											<td class="hidden-phone">Mike Nilson</td>
											<td>2560.60$</td>
											<td><a href="#" class="btn mini purple"><i class="icon-edit"></i> Edit</a></td>
										</tr>
										<tr>
											<td class="highlight">
												<div class="info"></div>
												<a href="#">Google</a>
											</td>
											<td class="hidden-phone">Adam Larson</td>
											<td>560.60$</td>
											<td><a href="#" class="btn mini black"><i class="icon-trash"></i> Delete</a></td>
										</tr>
										<tr>
											<td class="highlight">
												<div class="important"></div>
												<a href="#">Apple</a>
											</td>
											<td class="hidden-phone">Daniel Kim</td>
											<td>3460.60$</td>
											<td><a href="#" class="btn mini purple"><i class="icon-edit"></i> Edit</a></td>
										</tr>
										<tr>
											<td class="highlight">
												<div class="warning"></div>
												<a href="#">Microsoft</a>
											</td>
											<td class="hidden-phone">Nick </td>
											<td>2560.60$</td>
											<td><a href="#" class="btn mini blue"><i class="icon-share"></i> Share</a></td>
										</tr>
									</tbody>
								</table> -->



									<div class="modal-footer">
										<button type="button" data-dismiss="modal" class="btn">Close</button>
										<!-- <button type="button" class="btn blue">Save changes</button> -->
									</div>
								</div>



	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->
	<script src="assets/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
	<script src="assets/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>      
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<!--[if lt IE 9]>
	<script src="assets/plugins/excanvas.min.js"></script>
	<script src="assets/plugins/respond.min.js"></script>  
	<![endif]-->   
	<script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
	<script src="assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
	<script src="assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
	<script src="assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script>
	<!-- END CORE PLUGINS -->

	<!-- BEGIN PAGE LEVEL PLUGINS -->   
	<script src="assets/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript" ></script>
	<script src="assets/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript" ></script>
	<!-- END PAGE LEVEL PLUGINS -->


	<script src="assets/plugins/jquery-knob/js/jquery.knob.js"></script>


	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="assets/scripts/app.js"></script>   
	<script src="assets/scripts/ui-sliders.js"></script>
	<script src="assets/scripts/portlet-draggable.js"></script> 
	<script src="assets/scripts/ui-modals.js"></script>     

	<script src="assets/plugins/countdown/jquery.countdown.js" type="text/javascript"></script>
	<script src="assets/scripts/coming-soon.js" type="text/javascript"></script>  

	<script src="assets/plugins/flot/jquery.flot.js" type="text/javascript"></script>
	<script src="assets/plugins/flot/jquery.flot.resize.js" type="text/javascript"></script> 

	<!-- <script src="assets/plugins/leaflet/leaflet.js" type="text/javascript"></script> -->
	<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js" type="text/javascript"></script>
	<script src="assets/plugins/leaflet/leaflet.markercluster-src.js" type="text/javascript"></script>	
	<script src="assets/plugins/leaflet/realworld.388.js" type="text/javascript"></script>	


	<script src="/socket.io/socket.io.js"></script>
	<script src="javascripts/cerebro.js"></script>

	<script src="assets/scripts/index.js" type="text/javascript"></script> 
	<!-- END PAGE LEVEL SCRIPTS -->  
	<script>
		jQuery(document).ready(function() {       
		   // initiate layout and plugins
		   App.init();
		   //PortletDraggable.init();

  		   CoomingSoon.init();

		   UISliders.initSliders();
		   UISliders.initKnowElements();

		   Index.initCharts(); // init index page's custom scripts

			var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png',
				cloudmadeAttribution = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade, Points &copy 2012 LINZ',
				cloudmade = L.tileLayer(cloudmadeUrl, {maxZoom: 17}),
				latlng = L.latLng(-37.82, 175.24);

			var map = L.map('deploy-map', {center: latlng, zoom: 13, layers: [cloudmade], attributionControl: false});

			var markers = L.markerClusterGroup();
			
			for (var i = 0; i < addressPoints.length; i++) {
				var a = addressPoints[i];
				var title = a[2];
				var marker = L.marker(new L.LatLng(a[0], a[1]), { title: title });
				//marker.bindPopup(title);

				marker.on('click', function () {
				    window.location.href = "/deployment";
				});

				markers.addLayer(marker);
			}

			map.addLayer(markers);


		});
	</script>
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>