/***
Lock Page
***/
body {
	background-color: #ddd;
	padding: 0;
	margin: 0;
}

.page-lock {

}

.page-lock .page-body {	
   width: 300px;
   padding: 30px 45px 50px 30px;
   background: url(../../img/bg-white-lock.png) repeat;
   margin: 150px auto 0;
}

.page-lock .page-body form{	
   margin: 35px auto 0;
}

.page-lock .page-body input{	
   width: 300px;
   padding: 50px;
   background: #ccc;
   margin: 0;
}

.page-lock .page-body button{	
   width: 315px;
   margin: 20px 0 20px 0;
}

.page-lock .page-footer{	
   border-top: 1px solid black;
   margin-top: 30px;
}

/*Responsive*/
@media (max-width: 480px) {
/*	.page-lock {
	   top:0px;
	   width: 260px;
	   margin-top: 20px;
	   margin-left: -140px;
	}	

	.page-lock .page-body {	
		padding: 10px;
	    text-align: center;	
		width: 260px;
	}

	.page-lock img.page-lock-img {
		float: none !important;
		display: block;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 15px;
	}
	.page-lock .page-lock-info {
		float: none !important;
		width: 260px;		
		margin: 0 auto;
	}
	.page-lock .page-lock-info1 form {
		margin-bottom: 0;
	}*/	
}